<div class="row g-5 pt-2">
    <article class="blog-post">
        <a class="blog-post-title" href="/post/{{id}}">{{title}}</a>
        <p class="blog-post-meta">
            {{format_datetime createdAt}} by {{user.username}}
            {{#if userPost}}
                <a class="meta-actions delete-link" href="/api/post/{{id}}">Delete</a>
                <a class="meta-actions" href="/post/update/{{id}}">Update</a>
            {{/if}}
        </p>
        <p>{{content}}</p>
        {{#if comments.length}}
            <hr>
        {{/if}}
        <div class="comments-section">
            {{#if comments.length}}
                <h2>Comments</h2>
                {{#each comments as |comment|}}
                    {{> comment-slot}}
                {{/each}}
            {{/if}}
        </div>
        {{#if loggedIn}}
            <a class="add-comment" href="/post/comment/{{id}}">+ Add Comment</a>
        {{else}}
            <a class="add-comment" href="/login">Login to add a Comment</a>
        {{/if}}
    </article>
</div>